.fact{
  position: fixed;
  right: 500px;
  top: -120px;
  color: red;
  font-size: 10rem;
  font-family: Arial;
  animation-name: flash;
  animation-duration:1.5s;
  /*애니메이션의 방향을 지정 alternate(정방향) reverse(정방향, 역순)*/
  animation-direction:alternate;
  animation-iteration-count: infinite;
  z-index: 4;
}
.fact:hover{
  font-size:0;
}
.fact:hover:after{
    content: attr(data-hover);
    opacity:100;
    transition:0.2s;
    color:blue;
    font-size: 20rem;
    font-family: Arial;
    position:fixed;
    right: 220px;
    top: 150px;
    animation-name: flash;
    animation-duration:0.2s;
    /*애니메이션의 방향을 지정 alternate(정방향) reverse(정방향, 역순)*/
    animation-direction:alternate;
    animation-iteration-count: infinite;
    z-index: 4;
}
.fail{
  position: fixed;
  right: 440px;
  bottom: -80px;
  color: red;
  font-size: 10rem;
  font-family: Arial;
  animation-name: flash;
  animation-duration:1.5s;
  /*애니메이션의 방향을 지정 alternate(정방향) reverse(정방향, 역순)*/
  animation-direction:alternate;
  animation-iteration-count: infinite;
  z-index: 3;
}
.fail:hover{
  font-size:0;
}
.fail:hover:after{
    content: attr(data-hover);
    opacity:100;
    transition:0.2s;
    color:yellow;
    font-size: 20rem;
    position:fixed;
    right:270px;
    bottom:180px;
    animation-name: flash;
    animation-duration:0.2s;
    /*애니메이션의 방향을 지정 alternate(정방향) reverse(정방향, 역순)*/
    animation-direction:alternate;
    animation-iteration-count: infinite;
    z-index: 3;
    }

    .img {
      position: absolute;
      left: 560px;
      z-index:0;
  }

  .animation2{
    position:fixed;
    top:0px;
    width:200px;
    height:360px;
    background-color:yellow;
    animation: DOHEE2 1s 5ms;
    animation-direction:alternate;
    animation-iteration-count: infinite;
    z-index:2;
  }
  @keyframes DOHEE2{
    0%{width:1430px;}
    50%{width:0px;}
    100%{opacity:0.5;}
  }
  .bluebox{
    position:fixed;
    top:0px;
    width:1430px;
    height:360px;
    background-color:blue;
    animation: flash 1s;
  }

  .animation1{
    position:fixed;
    top:360px;
    width:200px;
    height:360px;
    background-color:blue;
    animation: DOHEE2 1s 5ms;
    animation-direction:reverse;
    animation-iteration-count: infinite;
    z-index:2;
  }
  @keyframes DOHEE2{
    0%{width:0px;}
    50%{width:1430px;}
    100%{opacity:0.5;}
  }
  .yellowbox{
    position:fixed;
    top:360px;
    width:1430px;
    height:360px;
    background-color:yellow;
    animation: flash 1s;
  }

  .fixed{
position: absolute;
left:420px;
width:500px;
text-align:center;
font-family:notosans;
font-size: 15px;
margin: auto;
z-index: 10;
}
